
  #loading {
    display: none;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
.result-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    background-color: #f9f9f9;
}

.result
{
    text-align: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    letter-spacing: 2px;
}

.result-item .random-text {
    background-color: rgb(100, 141, 189);
    color: white;
    padding: 5px;
    width: 40%;
    margin: 5px auto;
    border-radius: 20px;
}

.result-item img {
    box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.34);
}

.controls {
    display: flex;
    text-align: center;
    align-items: center;
    line-height: 40px;
    font-size: larger;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: sans-serif;
}

.controls-child {
    flex: 1;
}  

.controls-child:first-child {
    margin-right: 0px;
    background: rgb(144, 188, 238);
} 

.controls-child:nth-child(2) {
    margin-right: 0px;
    background: rgb(100, 141, 189);
} 

select
{
    width: 150px;
    height: 25px;
    border: none;
    border-radius: 20px;
    padding: 0px 5px 0px 5px;
    font-weight: bold;
    color: rgb(100, 141, 189);
}

input[type="text"]
{
    width: 150px;
    height: 25px;
    border: none;
    border-radius: 20px;
    padding: 0px 5px 0px 5px;
    font-weight: bold;
    color: rgb(100, 141, 189);
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: rgb(100, 141, 189);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

