body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  flex-direction: column;
}

h2 {
    margin-bottom: 20px; /* Add space below the title */
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 80%; 
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.project {
  width: 48%;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px;
}

button
{
    background-color: #007bff;
    border: none;
    height: 30px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
}

button:hover
{
    background-color: #007bff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.822);
}