html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

#planchoosing
{
color: black;
font-weight: bolder;
font-size: large;
}

.card-deck .card {
  min-width: 220px;
}

.highlighted {
  border: 2px solid #007bff;
}
.highlightedHeader
{
  background-color:#007bff;
  border: 2px solid #007bff;
  color: white;
}

#highlightedPlan{
  color: #2a7dd6;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

#sliderValue{
  color: #007bff;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.centerdiv
{
  background-color: transparent;
  width: 100%;
  margin: auto;
  text-align: center;
}

input[type="range"] {
  -webkit-appearance: none;
  cursor: ew-resize;
  width: 15rem;
  accent-color: rgb(79, 164, 243);
  width: 300px;
  height: 10px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#cac5c3, #9c9997);

}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
